body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:1px;
  width:375px;
  height:825px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:825px;
}
#u1 {
  position:absolute;
  left:2px;
  top:404px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:3px;
  top:75px;
  width:47px;
  height:35px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:35px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_ann {
  position:absolute;
  left:43px;
  top:71px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:20px;
  top:767px;
  width:340px;
  height:40px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
