body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:1px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:210px;
  width:350px;
  height:80px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:254px;
  width:170px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:296px;
  top:258px;
  width:67px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:200px;
  top:342px;
  width:170px;
  height:32px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:296px;
  top:346px;
  width:67px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u11 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:448px;
  width:170px;
  height:32px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u13 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:296px;
  top:452px;
  width:67px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u15 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:200px;
  top:556px;
  width:170px;
  height:32px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:296px;
  top:560px;
  width:67px;
  height:22px;
  font-size:12px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:182px;
  top:213px;
  width:191px;
  height:78px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u21 {
  position:absolute;
  left:2px;
  top:31px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:182px;
  top:299px;
  width:191px;
  height:78px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u23 {
  position:absolute;
  left:2px;
  top:31px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:185px;
  top:402px;
  width:191px;
  height:78px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:78px;
}
#u25 {
  position:absolute;
  left:2px;
  top:31px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:12px;
  top:624px;
  width:52px;
  height:44px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:44px;
}
#u27 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:164px;
  top:624px;
  width:52px;
  height:44px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:44px;
}
#u29 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:238px;
  top:624px;
  width:52px;
  height:44px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:44px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:318px;
  top:624px;
  width:52px;
  height:44px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:44px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
