body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:1px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:148px;
  top:79px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#333333;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:6px;
  top:78px;
  width:40px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:510px;
  width:340px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
