body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:1px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:13px;
  top:297px;
  width:337px;
  height:33px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
}
#u3 {
  position:absolute;
  left:2px;
  top:8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:13px;
  top:340px;
  width:337px;
  height:33px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:13px;
  top:390px;
  width:337px;
  height:33px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:13px;
  top:487px;
  width:337px;
  height:33px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
}
#u9 {
  position:absolute;
  left:2px;
  top:8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:13px;
  top:585px;
  width:337px;
  height:33px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:33px;
}
#u11 {
  position:absolute;
  left:2px;
  top:8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:88px;
  top:624px;
  width:52px;
  height:44px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:12px;
  top:624px;
  width:52px;
  height:44px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:44px;
}
#u15 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:164px;
  top:624px;
  width:52px;
  height:44px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:44px;
}
#u17 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:238px;
  top:624px;
  width:52px;
  height:44px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:44px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
