body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:1px;
  width:375px;
  height:667px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:6px;
  top:74px;
  width:50px;
  height:36px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:320px;
  top:74px;
  width:50px;
  height:36px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:36px;
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_ann {
  position:absolute;
  left:363px;
  top:70px;
  width:1px;
  height:1px;
}
